:root {
    /* 1 rem = 10px */
    font-size: 62.5%;

    --white: white;
    --grey-1: #f2f2f2;
    --grey-2: #e0e0e0;
    --grey-3: #cecece;
    --grey-4: #bcbcbc;
    --grey-5: #aaaaaa;
    --grey-6: #989898;
    --grey-7: #868686;
    --grey-8: #747474;
    --grey-9: #626262;
    --grey-10: #323232;
    --black: rgb(8, 8, 8);
}

/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--grey-2);

    &:hover {
        filter: brightness(1.3);
    }
}
