header {
    background-color: var(--grey-10);
    color: var(--grey-1);
    padding: 5rem 5rem;

    &, & > nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    & .logo {
        height: 10rem;
        /* width: 2rem; */
    }

    & nav {
        gap: 2rem;

    }
}