home {

    flex: 1;
    padding: 5rem 10rem;
    gap: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    & .logo-img {
        height: 10rem;
    }

    & button.load-more {
        border: 1px solid var(--bw-3);
        background-color: var(--bg-dark);
        border-radius: 0;
        padding: 1rem 2rem;
        color: var(--bw-1);
    }   
}
