.home-wrapper {
    flex: 1;
    padding: 5rem 5rem;
    gap: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--grey-2);

    & .logo-img {
        height: 10rem;
    }

    & button.load-more {
        border: 1px solid var(--grey-3);
        background-color: var(--white);
        color: #000;
        border-radius: 0rem;
        padding: 1rem 2rem;
        font-size: 1.7rem;
        font-weight: 600;
        cursor: pointer;
        
        &:hover {
            background-color: var(--grey-8);
            color: #fff;
         }
    }   
}


.films-grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
    column-gap: 3rem;
    row-gap: 4rem;
    padding: 1rem;
    width: 100%;
    max-width: 1200px;

    & .film-card {
        box-sizing: border-box;
        background-color: #fff;
        border-radius: .5rem;
        overflow: hidden;
        /* min-width: 20rem;
        min-height: 20rem; */
        box-shadow: 2px 2px 3px rgba(0,0,0,.12);

        &:hover {
            filter: brightness(1);
            box-shadow: 4px 4px 4px rgba(0,0,0,.15);
            transform: scale(1.005);
        }

        & img.card-poster-image {
            width: 100%;
        }

        & .film-card-info {
            display: flex;
            flex-direction: column;
            padding: 1.5rem;
            gap: 1rem;

            & h2, & p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            & h2 {
                color: var(--black);
                font-size: 2.2rem;
                font-weight: 600;
            }
            
            & p {
                color: var(--grey-8);
                font-size: 1.4rem;
                font-weight: 600;
            }
        }
    }

}
