<footer>
  <div class="social-logos">
    <span class="social-logo">
      <img src="../assets/icon-facebook.svg" alt="" />
    </span>
    <span class="social-logo">
      <img src="../assets/icon-twitter.svg" alt="" />
    </span>
    <span class="social-logo">
      <img src="../assets/icon-instagram.svg" alt="" />
    </span>
  </div>
  <div class="quick-links">
    <a href="#">Privacidade</a> | <a href="#">Termos e Condições</a> |
    <a href="#">Sobre</a> | <a href="#">Ajuda</a> | <a href="#">Contato</a>
  </div>
  <div>
    <p>2023. Todos os direitos reservados</p>
  </div>
</footer>
