<header>
    <a href="../pages/home.html">
        <img class="logo" src="../assets/logo-white.png" alt="">
    </a>
    <nav>
        <a href="../pages/home.html">Filmes</a>
        <a href="../pages/home.html">Lançamentos</a>
        <a href="../pages/home.html">Destaques</a>
        <a href="../pages/home.html">Diretores</a>
        <a href="../pages/profile.html">
            <!-- <img class="logo" src="../assets/icon-user.svg" alt="" > -->
            Entrar
        </a>

    </nav>
</header>




